.topbar {
    display: flex;
    align-items: center;
    align-content: center;
    flex-shrink: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightgray;
}

.button {
    align-items: center;
    align-content: center;
}

.svg {
    width: 20px;
}